*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Berkshire Swash", cursive;
  background-image: url(../img/Cosmetics_bgc.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  font-size: 62.5%;
}

label {
  font-size: 2rem;
  text-align: center;
  color: #fbfafa;
}

h2 {
  color: #fbfafa;
}

p {
  color: #fbfafa;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(200, 9, 9);
}
input[type=checkbox]:checked {
  background-color: #333;
}

span {
  color: #fbfafa;
}

input {
  background-color: #fbfafa;
  border-radius: 30px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  border-bottom: 1px solid #fbfafa;
}

th {
  padding: 1rem;
  color: #fbfafa;
}
th:first-child {
  padding-left: 0;
}
th:last-child {
  padding-right: 0;
}

td {
  padding: 1rem;
  min-width: 4em;
  color: #fbfafa;
}

i {
  margin-top: 0.5em;
  font-size: 2.5rem;
  color: #fbfafa;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
i:hover {
  color: #b6e2a1;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  font-family: "Berkshire Swash", cursive;
  padding: 0.5em 1em;
  background: rgba(10, 9, 9, 0.29);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(10, 9, 9, 0.3);
  border: 1px solid #fbfafa;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fbfafa;
  -webkit-box-shadow: 8px 8px 24px 0px rgb(66, 68, 90);
  box-shadow: 8px 8px 24px 0px rgb(66, 68, 90);
}
.btn:hover {
  -webkit-box-shadow: 0 0 11px rgba(76, 73, 73, 0.2);
          box-shadow: 0 0 11px rgba(76, 73, 73, 0.2);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1170px;
  margin: 0 auto;
}

.active-d-none {
  display: none;
}

.main-container {
  margin-top: 2em;
  max-width: 1000px;
  /* From https://css.glass */
  background: rgba(19, 19, 19, 0.222);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.phases-title {
  color: #fbfafa;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}
.header h1 {
  font-size: 5rem;
  margin-top: 0.4em;
  color: #fbfafa;
}
.header p {
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: #da30e3;
  background-image: -webkit-linear-gradient(45deg, #da30e3 9%, #cfac3a 55%, #8936d6 69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
  padding: 10px;
}
.product__info input {
  width: 25em;
  height: 3em;
  font-size: 1rem;
  padding-left: 1em;
}
.product__btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}
.product h2 {
  font-size: 2rem;
}
.product__checkbox__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5em;
}
.product__btn__phase--clicked {
  /* From https://css.glass */
  background: rgba(184, 108, 184, 0.62);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(128, 43, 128, 0.3);
}
.product__sumOfAllPhases {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fbfafa;
}
.product__sumOfAllPhases span {
  font-size: 2rem;
  margin-left: 1em;
}

.phases .wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}
.phases__card {
  text-align: center;
  padding: 1.2rem;
  margin-top: 1rem;
  /* From https://css.glass */
  background: rgba(10, 9, 9, 0.664);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(10, 9, 9, 0.3);
  border-radius: 4px;
}
.phases__card h2 {
  font-size: 1.5rem;
  text-align: center;
}
.phases__card__add__window {
  position: relative;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2em;
  padding: 1em;
  background: rgba(8, 8, 8, 0.62);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 5px 0px rgb(66, 68, 90);
          box-shadow: 0px 0px 5px 0px rgb(66, 68, 90);
}
.phases__window__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border: 2px solid black;
  height: 2em;
  width: 50%;
}
.phases .phase1__add__window,
.phases .phase2__add__window,
.phases .phase3__add__window {
  display: none;
}
.phases .close-btn {
  position: absolute;
  top: -3%;
  left: 90%;
  font-size: 0.1rem;
}
.phases .fa-delete-left {
  font-size: 1.2rem;
  z-index: -2;
  padding: 1em;
}
.phases .fa-delete-left:hover {
  color: red;
}
.phases .phases__quantity {
  margin-top: 1em;
}
.phases .phases__quantity span {
  color: #fbfafa;
  font-size: 1.5rem;
}

.product__list .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}
.product__list .wrapper .product__global__list--btn {
  margin-bottom: 1em;
  margin-top: 1em;
}
.product__list .table__card {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.65);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.product__list .table__card h2 {
  font-size: 2rem;
}

.product__global__list--refresch--btn {
  margin-bottom: 2rem;
}

footer {
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 0.2em;
}
footer p {
  color: white;
  text-shadow: 1px 1px 8px rgb(1, 1, 1);
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}/*# sourceMappingURL=main.css.map */