*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Syne Mono", monospace;
  background-color: #fefcf3;
}

html {
  font-size: 62.5%;
}

label {
  font-size: 2rem;
  text-align: center;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #ccc;
}
input[type=checkbox]:checked {
  background-color: #333;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  border-bottom: 1px solid #000;
}

th {
  padding: 1rem;
}
th:first-child {
  padding-left: 0;
}
th:last-child {
  padding-right: 0;
}

td {
  text-align: center;
  padding: 1rem;
}

i {
  margin-top: 0.5em;
  font-size: 2.5rem;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
i:hover {
  color: #b6e2a1;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  height: 2em;
  width: 10em;
  background-color: #f0dbdb;
  border: none;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  -webkit-box-shadow: 0 0 11px rgba(76, 73, 73, 0.2);
          box-shadow: 0 0 11px rgba(76, 73, 73, 0.2);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1170px;
  margin: 0 auto;
}

.active-d-none {
  display: none;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  font-size: 2.6rem;
}

.product {
  background-color: #f5ebe0;
}
.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
  padding: 10px;
}
.product__info input {
  width: 25em;
  height: 3em;
  font-size: 1rem;
  padding-left: 1em;
}
.product__btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}
.product h2 {
  font-size: 2rem;
}
.product__checkbox__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5em;
}
.product__btn__phase--clicked {
  border: 3px solid #000;
  background-color: #b6e2a1;
}
.product__sumOfAllPhases {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__sumOfAllPhases span {
  font-size: 2rem;
  margin-left: 1em;
}

.phases .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}
.phases__card {
  text-align: center;
  padding: 1.2rem;
  margin-top: 1rem;
  background-color: white;
  border-radius: 4px;
}
.phases__card h2 {
  font-size: 1.5rem;
  text-align: center;
}
.phases__card__add__window {
  position: relative;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2em;
  padding: 1em;
  background-color: #f5ebe0;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(66, 68, 90);
          box-shadow: 0px 0px 5px 0px rgb(66, 68, 90);
}
.phases__window__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border: 2px solid black;
  height: 2em;
  width: 50%;
}
.phases .phase1__add__window,
.phases .phase2__add__window,
.phases .phase3__add__window {
  display: none;
}
.phases .close-btn {
  position: absolute;
  top: -4%;
  left: 91%;
  font-size: 0.2rem;
}
.phases .fa-delete-left {
  font-size: 1.2rem;
  z-index: -2;
  padding: 1em;
}
.phases .fa-delete-left:hover {
  color: red;
}
.phases .phases__quantity {
  margin-top: 1em;
}
.phases .phases__quantity span {
  color: #000;
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */