body {
	font-family: 'Josefin Sans', sans-serif;
	background-image: url(/img/bgi.1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
