@import 'reset';
@import 'colors';
@import 'mixins';
@import 'base';

//header
.header {
	.wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2em;
	}
	align-items: center;
	display: flex;
	height: 12vh;

	h1 {
		font-size: 5rem;
		margin-top: 0.6em;
		color: $white-color;
	}

	p {
		font-size: 2.3rem;
		margin-bottom: 0.5em;

		// CSS

		// CSS

		// CSS

		// CSS
		color: #da30e3;
		background-image: -webkit-linear-gradient(45deg, #da30e3 9%, #cfac3a 55%, #8936d6 69%);
		background-clip: text;
		-webkit-background-clip: text;

		-webkit-text-fill-color: transparent;
	}
}

//Sections

//Section 1 PRODUCT NAME

.product {
	// background-color: $second-color;

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.8em;
		padding: 10px;

		input {
			width: 25em;
			height: 3em;
			font-size: 1rem;
			padding-left: 1em;
		}
	}

	&__btn__list {
		display: flex;
		justify-content: center;
		gap: 2em;
	}
	h2 {
		font-size: 2rem;
	}
	&__checkbox__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1.5em;
	}
	//class to add on listener "toggle"
	&__btn__phase--clicked {
		/* From https://css.glass */
		background: rgba(184, 108, 184, 0.62);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(128, 43, 128, 0.3);
	}

	&__sumOfAllPhases {
		margin-top: 2em;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white-color;

		span {
			font-size: 2rem;
			margin-left: 1em;
		}
	}
}
//Section 2 phases

.phases {
	.wrapper {
		// display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}

	&__card {
		text-align: center;
		padding: 1.2rem;
		margin-top: 1rem;
		/* From https://css.glass */
		background: rgba(10, 9, 9, 0.664);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(10, 9, 9, 0.3);
		border-radius: 4px;

		h2 {
			font-size: 1.5rem;
			text-align: center;
		}
	}

	&__card__add__window {
		position: relative;
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.2em;
		padding: 1em;
		background: rgba(8, 8, 8, 0.62);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
	}

	&__window__result {
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: center;
		border: 2px solid black;
		height: 2em;
		width: 50%;
	}

	.phase1__add__window,
	.phase2__add__window,
	.phase3__add__window {
		display: none;
	}

	.close-btn {
		position: absolute;
		top: -3%;
		left: 90%;
		font-size: 0.1rem;
	}

	.fa-delete-left {
		font-size: 1.2rem;
		z-index: -2;
		padding: 1em;

		&:hover {
			color: red;
		}
	}

	.phases__quantity {
		margin-top: 1em;

		span {
			color: $white-color;
			font-size: 1.5rem;
		}
	}
}

// section 3 product list

.product__list {
	// background-color: $second-color;

	.wrapper {
		flex-direction: column;
		align-items: center;
		gap: 2em;

		.product__global__list--btn {
			margin-bottom: 1em;
			margin-top: 1em;
		}
	}

	.table__card {
		/* From https://css.glass */
		background: rgba(0, 0, 0, 0.65);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(0, 0, 0, 0.3);
		h2 {
			font-size: 2rem;
		}
	}
}

.product__global__list--refresch--btn {
	margin-bottom: 2rem;
}

// /Footer

footer {
	text-align: right;
	margin-right: 1rem;
	margin-bottom: 0.2em;
	p {
		color: white;
		text-shadow: 1px 1px 8px rgb(1, 1, 1);
	}
	a {
		text-decoration: none
		color: #dc6ff6;
		background-image: -webkit-linear-gradient(45deg, #dc6ff6 43%, #51f7ce 58%, #617ddd 83%);
		background-clip: text;
		-webkit-background-clip: text;
		text-fill-color: transparent;
		-webkit-text-fill-color: transparent;

		font-size: 1.1rem;
	}
}
