@import 'reset';
@import 'colors';
@import 'mixins';
@import 'base';

//header
.header {
	display: flex;
	height: 12vh;
	font-size: 2.6rem;
}

//Sections

//Section 1 PRODUCT NAME

.product {
	background-color: $second-color;

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.8em;
		padding: 10px;

		input {
			width: 25em;
			height: 3em;
			font-size: 1rem;
			padding-left: 1em;
		}
	}

	&__btn__list {
		display: flex;
		justify-content: center;
		gap: 2em;
	}
	h2 {
		font-size: 2rem;
	}
	&__checkbox__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1.5em;
	}
	//class to add on listener "toggle"
	&__btn__phase--clicked {
		border: 3px solid $black-color;
		background-color: $checked-color;
	}
}
//Section 2 phases

.phases {
	&__card {
		padding: 1.2rem;
		margin-top: 1rem;
		background-color: $white-color;
		border-radius: 4px;

		h2 {
			font-size: 1.5rem;
			text-align: center;
		}
	}
}
